img.logo {
    width: 200px;
    height: 100px
}

img.picture {
    width: 300px;
    height: 300px
}


.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
    justify-content: center;
}

.pricing-stars {
    display: flex;
    flex-direction: column;
}

.pricing-stars h2, .instructorOverall h2 {
    color: black
}

.studios-area{
    display: flex;
    grid-template-columns: repeat(auto-fill, 350px);
    margin: 0 auto;
    max-width: 1430px;
    justify-content: center;
    grid-gap: 10px;
}


.overallContainer {
    display: flex-grid;
    grid-template-columns: 1fr;
    max-width: 1000px;
    margin: 0px auto;
    background-color: white;
    margin-top: 10px
}


.instructors-area {
    display: inline-block;
    margin-top: 20px;
    overflow-x: auto;
    width: 100%;
}

.profilePic {
    height: 75px;
    width: 75px;
    margin: 5px;
}


.instructors {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2px;
}

.individualinstructor {
    height: 100px;
    width: 100px;
    border: 1px rgb(0, 0, 0) solid;
    margin-left: 1px;
    margin-right: 1px;
}


.firstName {
    text-align: center;
}


.contentBody {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 1000px
}


.pictureDetail {
    width: 500px;
    height: 400px
}


.description {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 15px;
}
