img.logo {
    width: 200px;
    height: 100px
}

img.picture {
    width: 300px;
    height: 300px
}


.title {
    display: flex;
    align-items: center;
    gap: 19px;
    justify-content: center;
}

.studios-area{
    display: flex;
    grid-template-columns: repeat(auto-fill, 350px);
    margin: 0 auto;
    max-width: 1430px;
    justify-content: center;
    grid-gap: 10px;
}


.overallContainer {
    display: flex-grid;
    grid-template-columns: 1fr;
    max-width: 1000px;
    margin: 0px auto;
}


.instructors-area {
    display: block;
    margin-top: 20px;
}

.profilePic {
    height: 75px;
}


.instructors {
    display: flex;
}
