.form.signup {
    border-radius: 1px 1px 1px 1px;;
    border: 5px solid rgb(255, 255, 255);
    background: white;
    padding: 15px;
    height: 380px;
    width: 300px;
    display: block;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}


.errors {
    color: #fd5c63;
}

.errors-container {
    height: 30px
}

button:disabled.signupButton{
    background-color: white;
    color: rgb(131, 129, 129);
    width: 100%;
    height: 50px;
    box-shadow: 1px 1px 3px black;
    font-weight: bold;
}

button:enabled.signupButton {
    background-color: #4b4949;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 50px;
    box-shadow: 1px 1px 3px black;
    font-weight: bold;
}

button:enabled.signupButton:hover {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    width: 100%;
    height: 50px;
    box-shadow: 1px 1px 3px black;
    font-weight: bold;
}



.userinputsignup{
    background-color: #e1eed8;
    box-sizing: border-box;
    width: 100%;
    border: 2px black solid;
    margin-top: 5px;
}

.drop-down {
    margin-top: 5px;
}

.text {
    font-size: 14px;
}


button:hover {
    cursor: pointer;
}

.signup h1 {
    height: 20px;
}
