.modal-classes-add h1 {
    margin-bottom: -20px;
    margin-top: 10px;
    text-align: center;
  }


.modal-classes-add {
    display: inline-grid;
    margin: auto;
    width: 400px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    justify-content: center;
    border: 4px solid rgb(0, 0, 0);
}



  .modal-classes-add form {
    border-radius: 1px 1px 1px 1px;;
    border: 5px solid rgb(255, 255, 255);
    background: white;
    padding: 15px;
    height: 275px;
    width: 300px;
    display: block;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.errors {
    font-size: 12.5px;
    margin: 0px;
    color: #fd5c63
}
.class-description {
    height: 45px;
    width: 300px;
}

.input-field {
    width: 100%;
    height: 20px;
    margin: 5px 0;
    color: rgb(57, 57, 62);
}

.intensity {
    margin-top: 20px;
}

.class-name {
    margin-bottom: 5px;
    text-align: center;
}

.close-class {
    margin-bottom: 30px;
}

input:focus {
    border: 1px solid;
}

.class-options-dropdown {
    text-align: center;
}

.buttons-container {
    height: 35px;
}

button:enabled.add-class-btn{
    width: 300px;
    background-color: #4b4949;
    color: white;
    height: 50px;
}

button:enabled.add-class-btn:hover{
  width: 300px;
  background-color: #000000;
  color: white;
  height: 50px;
}


button:enabled.add-class-btn{
    width: 300px;
    background-color: #4b4949;
    color: white;
    height: 50px;
}

button:enabled.add-class-btn:hover{
  width: 300px;
  background-color: #000000;
  color: white;
  height: 50px;
}

button:disabled.add-class-btn{
    border: 1px solid black;
    background-color: white;
    color: rgb(131, 129, 129);
    width: 100%;
    height: 50px;
}


.delete-modal h2 {
    color: black
}


.top-container .edit-class-button {
    margin-right: 5px;
}

.child-add {
    margin-bottom: 7px;
}


.add-class-error-area {
    height: 20px;
}

.drop {
    padding-top: 5px;
}
