
.studiopic {
    width: 100%;
    height: 248px;
    border: 2px solid black;
}

.studiologo {
    width: 100%;
    height: 100px;
    border: 2px solid black;
}


.studioscontainer{
    height: 360px;
}

.child {
    display: flex;
    justify-content: center;
}

.studioname{
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: bold;
}

.rating {
    color: rgb(0, 0, 0);
    font-size: 15px
}

.top-text {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.star {
    color: rgb(251, 223, 15);
    font-weight: bold;
    font-size: 16px;
}

.bottom-text {
    width: 100%;
    display: inline-flex;
    gap: 2px;
}

.update-button {
    display: inline-block;
    width: 100px;
    background-color: #8a8787;
    color: white;
    box-shadow: 1px 1px 4px black;
    width: fit-content;
    height: 30px;
    margin-right: 10px;
}

.studioTileContainer {
    cursor: pointer;
    height: 400px;
}

.header{
    display: inline-block;
    justify-content: start;
    max-width: 1000px;
    padding-left: 90px;
}



.tooltip:hover:before {
    display:block;
    content: attr(data-text); /* here's the magic */
    position:absolute;
    width: 100px;
    padding: 5px;
    background:#242424;
    color: #fff;
    text-align:center;
}

.tooltip {
    background-color: white;
}
.studio-item {
    background-color: white;
}
